In [1]:
!pip install --upgrade plotly
import pandas as pd
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.io as pio
pio.renderers.default = "iframe"
import yfinance as yf
import requests
import json

import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

from bs4 import BeautifulSoup
import pandas as pd
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.io as pio
pio.renderers.default = "iframe"
import yfinance as yf
import requests
import json
import datetime as dt

Requirement already satisfied: plotly in c:\users\heinr\anaconda3\lib\site-packages (6.0.0)
Requirement already satisfied: narwhals>=1.15.1 in c:\users\heinr\anaconda3\lib\site-packages (from plotly) (1.29.1)
Requirement already satisfied: packaging in c:\users\heinr\anaconda3\lib\site-packages (from plotly) (23.1)

## Question 1: Use yfinance to Extract Stock Data

Reset the index, save, and display the first five rows of the tesla_data dataframe using the head function. Upload a screenshot of the results and code from the beginning of Question 1 to the results below.

In [2]:
url =" https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"
tesla = yf.Ticker("TSLA")
tesla_data = tesla.history(period="max")
tesla_data.reset_index(inplace=True)

tesla_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

##  Question 2: Use Webscraping to Extract Tesla Revenue Data

Display the last five rows of the tesla_revenue dataframe using the tail function. Upload a screenshot of the results.

In [3]:
url =" https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"
tesla = yf.Ticker("TSLA")
tesla_data = tesla.history(period="max")
tesla_data.reset_index(inplace=True)

response=requests.get(url)
html_data = response.text
soup = BeautifulSoup(html_data, 'html.parser')
tables = soup.find_all('table')
revenue_table = soup.find_all("tbody")[1]
tesla_revenue = pd.DataFrame(columns=["Date", "Revenue"])
for row in revenue_table.find_all("tr"):
    columns=row.find_all("td")
    if len(columns)==2:
        date = columns[0].text.strip()
        revenue = columns[1].text.strip()
        tesla_revenue = pd.concat(
            [tesla_revenue, pd.DataFrame([[date, revenue]], columns=["Date", "Revenue"])],
            ignore_index=True
    )
tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',|\$',"")

tesla_revenue.dropna(inplace=True)

tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]
tesla_revenue.tail()

          Date Revenue
48  2010-09-30     $31
49  2010-06-30     $28
50  2010-03-31     $21
52  2009-09-30     $46
53  2009-06-30     $27

## Question 3: Use yfinance to Extract Stock Data

Reset the index, save, and display the first five rows of the gme_data dataframe using the head function. Upload a screenshot of the results and code from the beginning of Question 1 to the results below.

In [4]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"
gamestop = yf.Ticker("GME")
gme_data = gamestop.history(period="max")
gme_data.reset_index(inplace=True)
gme_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620128,1.693350,1.603296,1.691667,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683251,1.687459,1.658002,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615921,1.662210,1.603296,1.662210,6892800,0.0,0.0

## Question 4: Use Webscraping to Extract GME Revenue Data

Display the last five rows of the gme_revenue dataframe using the tail function. Upload a screenshot of the results.

In [5]:
from bs4 import BeautifulSoup
import pandas as pd
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.io as pio
pio.renderers.default = "iframe"
import yfinance as yf
import requests
import json
import datetime as dt

url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"
gamestop = yf.Ticker("GME")
gme_data = gamestop.history(period="max")
gme_data.reset_index(inplace=True)
response = requests.get(url)
html_data_2 = response.text
soup = BeautifulSoup(html_data_2, 'html.parser')
revenue_table = soup.find_all("tbody")[1]
gme_revenue = pd.DataFrame(columns=["Date", "Revenue"])

for row in revenue_table.find_all("tr"):
    columns = row.find_all("td")
    if len(columns) == 2:
        date = columns[0].text.strip()
        revenue = columns[1].text.strip()
        gme_revenue = pd.concat(
            [gme_revenue, pd.DataFrame([[date, revenue]], columns=["Date", "Revenue"])],
            ignore_index=True
        )

gme_revenue["Revenue"] = gme_revenue['Revenue'].str.replace(',|\$', "", regex=True)
gme_revenue.dropna(inplace=True)
gme_revenue = gme_revenue[gme_revenue['Revenue'] != ""]
gme_revenue["Revenue"] = pd.to_numeric(gme_revenue["Revenue"], errors="coerce")
gme_revenue["Date"] = pd.to_datetime(gme_revenue["Date"])
gme_revenue = gme_revenue[gme_revenue["Date"] <= pd.Timestamp("2021-06-30")]

gme_revenue.tail()

         Date  Revenue
57 2006-01-31     1667
58 2005-10-31      534
59 2005-07-31      416
60 2005-04-30      475
61 2005-01-31      709

## Question 5: Plot Tesla Stock Graph

Use the make_graph function to graph the Tesla Stock Data, also provide a title for the graph.

Upload a screenshot of your results.

In [6]:
from bs4 import BeautifulSoup
import pandas as pd
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.io as pio
pio.renderers.default = "iframe"
import yfinance as yf
import requests
import datetime as dt

# Step 1: Fetch Tesla stock data
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"
tsla = yf.Ticker("TSLA")
tsla_data = tsla.history(period="max")
tsla_data.reset_index(inplace=True)

# Convert tsla_data['Date'] to timezone-naive
tsla_data["Date"] = tsla_data["Date"].dt.tz_localize(None)

# Filter stock data to June 2021
tsla_data = tsla_data[tsla_data["Date"] <= pd.Timestamp("2021-06-30")]

# Step 2: Fetch Tesla revenue data from the HTML
response = requests.get(url)
html_data = response.text
soup = BeautifulSoup(html_data, 'html.parser')
revenue_table = soup.find_all("tbody")[1]
tesla_revenue = pd.DataFrame(columns=["Date", "Revenue"])

for row in revenue_table.find_all("tr"):
    columns = row.find_all("td")
    if len(columns) == 2:
        date = columns[0].text.strip()
        revenue = columns[1].text.strip()
        tesla_revenue = pd.concat(
            [tesla_revenue, pd.DataFrame([[date, revenue]], columns=["Date", "Revenue"])],
            ignore_index=True
        )

# Clean revenue data
tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',|\$', "", regex=True)
tesla_revenue.dropna(inplace=True)
tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]
tesla_revenue["Revenue"] = pd.to_numeric(tesla_revenue["Revenue"], errors="coerce")
tesla_revenue["Date"] = pd.to_datetime(tesla_revenue["Date"])
tesla_revenue = tesla_revenue[tesla_revenue["Date"] <= pd.Timestamp("2021-06-30")]

# Step 3: Define the make_graph function
def make_graph(tsla_data, tesla_revenue, stock):
    # Create a figure with dual y-axes
    fig = make_subplots(
        rows=2, cols=1,
        shared_xaxes=True,
        subplot_titles=("Historical Stock Price", "Historical Revenue"),
        vertical_spacing=0.3
    )

    # Add stock price trace
    fig.add_trace(
        go.Scatter(
            x=pd.to_datetime(tsla_data["Date"], infer_datetime_format=True),
            y=tsla_data["Close"].astype("float"),
            name="Stock Price"
        ),
        row=1, col=1
    )

    # Add revenue trace
    fig.add_trace(
        go.Scatter(
            x=pd.to_datetime(tesla_revenue["Date"], infer_datetime_format=True),
            y=tesla_revenue["Revenue"].astype("float"),
            name="Revenue"
        ),
        row=2, col=1
    )

    # Update layout
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price (USD)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue (USD Millions)", row=2, col=1)
    fig.update_layout(
        showlegend=False,
        height=900,
        title=stock,
        xaxis_rangeslider_visible=True
    )

    # Show the graph
    fig.show()

# Step 4: Call the make_graph function
make_graph(tsla_data, tesla_revenue, "Tesla Stock Price and Revenue (Up to June 2021)")

C:\Users\heinr\AppData\Local\Temp\ipykernel_7660\3283692554.py:61: UserWarning:

The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.

C:\Users\heinr\AppData\Local\Temp\ipykernel_7660\3283692554.py:71: UserWarning:

The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.

## Question 6: Plot GameStop Stock Graph

Use the make_graph function to graph the GameStop Stock Data, also provide a title for the graph.

Upload a screenshot of your results.

In [8]:
from bs4 import BeautifulSoup
import pandas as pd
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import yfinance as yf
import requests
import datetime as dt


url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"
gamestop = yf.Ticker("GME")
gme_data = gamestop.history(period="max")
gme_data.reset_index(inplace=True)

#timezone fix
gme_data["Date"] = gme_data["Date"].dt.tz_localize(None)

# date filter
gme_data = gme_data[gme_data["Date"] <= pd.Timestamp("2021-06-30")]

response = requests.get(url)
html_data_2 = response.text
soup = BeautifulSoup(html_data_2, 'html.parser')
revenue_table = soup.find_all("tbody")[1]
gme_revenue = pd.DataFrame(columns=["Date", "Revenue"])

for row in revenue_table.find_all("tr"):
    columns = row.find_all("td")
    if len(columns) == 2:
        date = columns[0].text.strip()
        revenue = columns[1].text.strip()
        gme_revenue = pd.concat(
            [gme_revenue, pd.DataFrame([[date, revenue]], columns=["Date", "Revenue"])],
            ignore_index=True
        )

gme_revenue["Revenue"] = gme_revenue['Revenue'].str.replace(',|\$', "", regex=True)
gme_revenue.dropna(inplace=True)
gme_revenue = gme_revenue[gme_revenue['Revenue'] != ""]
gme_revenue["Revenue"] = pd.to_numeric(gme_revenue["Revenue"], errors="coerce")
gme_revenue["Date"] = pd.to_datetime(gme_revenue["Date"])
gme_revenue = gme_revenue[gme_revenue["Date"] <= pd.Timestamp("2021-06-30")]

def make_graph(gme_data, gme_revenue, stock):
    fig = make_subplots(
        rows=2, cols=1,
        shared_xaxes=True,
        subplot_titles=("Historical Stock Price", "Historical Revenue"),
        vertical_spacing=0.3
    )

    fig.add_trace(
        go.Scatter(
            x=pd.to_datetime(gme_data["Date"], infer_datetime_format=True),
            y=gme_data["Close"].astype("float"),
            name="Stock Price"
        ),
        row=1, col=1
    )

    fig.add_trace(
        go.Scatter(
            x=pd.to_datetime(gme_revenue["Date"], infer_datetime_format=True),
            y=gme_revenue["Revenue"].astype("float"),
            name="Revenue"
        ),
        row=2, col=1
    )

    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price (USD)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue (USD Millions)", row=2, col=1)
    fig.update_layout(
        showlegend=False,
        height=900,
        title=stock,
        xaxis_rangeslider_visible=True
    )

    fig.show()

make_graph(gme_data, gme_revenue, "GameStop Stock Price and Revenue (Up to June 2021)")

C:\Users\heinr\AppData\Local\Temp\ipykernel_7660\427751546.py:54: UserWarning:

The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.

C:\Users\heinr\AppData\Local\Temp\ipykernel_7660\427751546.py:63: UserWarning:

The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.